RewriteEngine On

# If the requested resource is not a directory
RewriteCond %{REQUEST_FILENAME} !-d

# If the requested resource with .php appended exists as a file
RewriteCond %{REQUEST_FILENAME}.php -f

# Internally rewrite the URL to add .php extension
RewriteRule ^(.*)$ $1.php [L]
